

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
    @model IEnumerable<movies_Planet.Models.Upcoming>

    <div class="container">
        <div class="row">
            <h2> Movie Info</h2>

            <div class="col-md-12">
                <br />
                <div class="col-md-2">
                    <h3></h3>
                    @foreach (var x in Model)
                    {
                        <img style="height: 280px; width: 170px" src="~/Upcoming/@x.ImgURL" />
                    }

                </div>

                <div class="col-md-10">
                    @foreach (var x in Model)
                    {
                        <h3>Movie Title: @x.Name </h3>
                    }

                    <br />
                    <br />

                    <table>
                        <tr>
                            <td>
                                <label style="font-size: 17px"> Genre: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.Genre </label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 17px ; padding-right: 300px"> Director: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.Director </label>
                                }

                            </td>
                            <td>
                                <label style="font-size: 17px">Language: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.Language </label>
                                }


                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 17px ; padding-right: 300px"> Release Date: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.ReleaseDate </label>
                                }

                            </td>
                            <td>
                                <label style="font-size: 17px">Cast: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.Cast </label>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 17px "> Synopsis: </label>
                                <br />
                                @foreach (var x in Model)
                                {
                                    <label style="font-size: 12px"> @x.Synopsis </label>
                                }

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
